body {
    margin: 0;
    color: black;
    /* height: 100vh; */
    /* width: 100vw; */
}

.imghead {
    background: linear-gradient(rgba(0,0,0,0.8) 30%,rgba(0, 0, 0, 0.3)), url(bts.jfif);
    background-position: center;
    /* border: solid 2px navajowhite; */
    height: 600px;
    display: flex;
    flex-direction: column;
}

.banner {
    /* border: solid 2px aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.banner h1 {
    /* border: solid 3px lawngreen; */
    margin-block-start: 5%;
    margin-block-end: 0;
    /* margin-bottom: 12%; */
    font-family: 'Philosopher';
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 5px white;
}

.banner h4 {
    font-family: 'Philosopher';
    font-size: 20px;
    /* border: solid 2px aqua; */
    color: white;
    align-self: center;
}

.header {
    /* border: solid 2px orange; */
}

.header .container {
    /* border: solid 2px purple; */
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.titulo {
    margin-left: 2%;
}

.header .container span {
    font-family: 'Zilla Slab';
    font-size: 30px;
    font-weight: bold;
}

.header .container .red {
    color: red;
}

.header .container .blue {
    color: blue;
}

.header .container .white {
    color: white;
}

.header .container .yellow {
    color: yellow;
}

.header ul {
    /* border: solid 2px darkblue; */
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-size: 19px;
    width: 47%;
    color: white;
    margin-left: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: fit-content;
}

.header li {
    display: inline-block;
    margin: 0;
}

.header li:after {
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header li:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.section2 {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
}

.informacao {
    width: 50%;
    margin-left: auto;
    font-family: 'Zilla Slab';
    display: flex;
    flex-direction: column;
}

.informacao h1 {
    /* border: solid 2px purple; */
    margin-block-start: 1%;
    margin-block-end: 0;
    font-size: 50px;
    text-align: center;
}

.desc {
    /* border: solid 2px navajowhite; */
    height: 67%;
    margin-bottom: 4%;
    width: 80%;
    margin: 0 auto;
}

.informacao h5 {
    margin-block-start: 1%;
    margin-block-end: 0;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.informacao button {
    align-self: center;
    border: 2px solid #1A1A1A;
    background-color: transparent;
    appearance: none;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    color: #3B3B3B;
    font-family: 'Zilla Slab';
    font-size: 20px;
    font-weight: 600;
    width: 170px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    outline: none;
}

.informacao button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}



.artistas {
    margin: 1% 0 1% 1%;
    /* border: solid 2px orange; */
    width: 900px;
    height: 506px;
    border-radius: 20px;
    overflow: hidden;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, 60%); */
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 30%;
    top: 113%;
    width: 20%;
    transform: translate(-50%);
    display: flex;
    /* border: solid 2px orange; */
}

.bar {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.bar:hover {
    background-color: #fff;
}

.artistas input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    /* object-fit: cover; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}